.about {
  padding: 100px 0;
  background: #fff;
}

.about .col-lg-6 img {
  margin-bottom: 40px;
}

.about h4 {
  margin-top: 30px;
}

.about .feature-list {
  margin-top: 10px;
}

.about .feature-list li {
  display: inline-block;
  margin-bottom: 5px;
  width: 48%;
  color: #666;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.about .feature-list li i {
  font-size: 14px;
  vertical-align: middle;
  margin-right: 8px;
}

@media screen and (max-width: 375px) {
  .about h4 {
    text-align: center;
  }

  .about .feature-list {
    margin: 0 auto;
    width: 70%;
  }

  .about .btn.btn-main {
    display: block;
    margin: 20px auto 0 auto;
  }

  .about .feature-list li {
    width: 100%;
  }
}
